.hidden{display:none}
body{
	padding:0 !important;
	background: #fff;
	background: -moz-linear-gradient(top, #f7f7f7, #e1e1e1);
	background: -webkit-linear-gradient(top, #f7f7f7, #e1e1e1);
	background: -ms-linear-gradient(top, #f7f7f7, #e1e1e1);
	background: -o-linear-gradient(top, #f7f7f7, #e1e1e1);
	background: linear-gradient(top, #f7f7f7, #e1e1e1);
	color: #373737 !important;
	font-size: 16px !important;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif !important;
	font-family: "proxima-nova-1","proxima-nova-2",sans-serif !important;
	line-height: 1.5 !important;
}
label {margin-top:3px;}

body * { outline:none !important}

form{margin:0;}

p{text-align:justify}


		
/* Landscape phones and down */
@media (max-width: 480px) { 

}

#statusTable{
	width: 75%;
	position:relative;
 	top:80px;
 	left:160px;
}
#statusTable > tbody > tr   {
	padding-top: 2%;
}

#statusTable > tbody > tr:nth-child(odd){background-color:#fff;}
	
#statusTable > tbody > tr > td.statusRow  {
	cursor: pointer;
	width: 10%;
	
}

#statusTable > tbody > tr > td.detailsButton  {
	cursor: pointer;
	
}

#statusTable > tbody > tr > td.rowAlignLeft  {
	text-align: left;
	
}

#statusTable > tbody > tr:hover td.statusRow  {
	font-size: 140%;
		
}

#statusTable > thead {
	white-space: nowrap;
}

#statusTable > tbody > tr > td  {
	text-align: center;
}

#statusTable > thead > tr > th  {
	text-align: center;
}

#statusTable > tbody > tr > td > img.status {
	max-width: 2em;
	min-width: 1em;
}